includes:
  - '%currentWorkingDirectory%/vendor/phpstan/phpstan-deprecation-rules/rules.neon'
  - '%currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon'

parameters:
  level: 6
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
  scanFiles:
    - '%currentWorkingDirectory%/vendor/pimcore/pimcore/lib/helper-functions.php'
  symfony:
    containerXmlPath: null
  excludePaths:
    - 'src/Model/DataObject/*.php'
  ignoreErrors: []
